<!-- Karussell
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Positionsanzeige -->
  <ol class="carousel-indicators">
    <% @events.each do |event| %>
      <li data-target="#myCarousel" data-slide-to="<%= event.__id__%>" ></li> <!-- class="%= 'active' if current_page?(event_index_path) %>" -->
    <% end %>
  </ol>

  <% @events.each do |event| %>
     <!-- <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= link_to 'Show', event_path(event) %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event_path(event),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>-->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="http://lorempixel.com/600/200/nightlife" alt="Event">
          <div class="container">
            <div class="carousel-caption">
              <%= render event %>
              <p><a class="btn btn-lg btn-primary" href="order/new" role="button">Ticket kaufen</a></p>
            </div>
          </div>
        </div>
      </div>
  <% end %>




  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Zurück</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Weiter</span>
  </a>
</div><!-- /.carousel -->

<div class="container marketing">
  <!-- presentation_column -->
  <%= render 'layouts/presentation_column' %>
  <!-- presentationheader
  -->
</div><!-- /.container -->