<!-- Karussell
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Positionsanzeige -->
  <ol class="carousel-indicators">
    <% @events.each do |event| %>
      <li data-target="#myCarousel" data-slide-to="<%= event.id %>" class="<%= 'active' if event.id == 1 %>"></li>
    <% end %>
    <!--  -->
  </ol>

  <div class="carousel-inner" role="listbox">
    <% @events.each do |event| %>
      <div class="item <%= 'active' if event.id == 1 %>">
        <img class="first-slide" src="http://lorempixel.com/600/200/nightlife" alt="Event">
        <div class="container">
          <div class="carousel-caption">

                <h1><%= event.title %></h1>
                <p> <%= event.description %></p>
            <div class="slide-footer">
              <p><%= link_to 'Ticket kaufen', new_order_path(event_id: event.id), class: "btn btn-lg btn-primary", data: {disable_with: 'Bitte warten...'} %></a></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Zurück</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Weiter</span>
  </a>
</div><!-- /.carousel -->

<div class="container marketing">
  <!-- presentation_column -->
  <%= render 'home/venue' %>
  <!-- presentationheader
  -->
</div><!-- /.container -->