<div class="jumbotron">
  <%= simple_form_for ([@venue, @venue.events.build]), url: {action: 'create'} do |f| %>

    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(event.errors.count, "") %> Fehler verhindern, dass die Veranstaltung angelegt werden kann.
          </h2>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :titel %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :beschreibung %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :ticket_Preis %><br>
      <%= f.text_field :price %>
    </p>

    <p>
      <%= f.label 'Veranstaltungsort' %>
        <!-- collection_select(object, method, collection, value_method, text_method, options = {}, html_options = {}) -->
        <%= f.collection_select(:venue, Venue.all, :id, :title, { :prompt => 'Wähle Veranstaltungsort' })
            #f.association :venue, collection: @venues
                          #:collection => Venue.order(:title), :prompt => 'Wähle Veranstaltungsort'
                          #:as => collection_select(:venue, Venue.all, :id, :title, { :prompt => 'Wähle Veranstaltungsort' })
        %>


    </p>

    <p>
      <%= f.submit 'Event anlegen'%>
    </p>
  <% end %>
</div>