<div class="jumbotron">
  <%= form_for @venue, url: {action: 'create'} do |f| %>

    <% if @venue.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@venue.errors.count,  "") %>Fehler verhindern, dass der Veranstaltungsort angelegt werden kann.
          </h2>
          <ul>
            <% @venue.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :beschreibung %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :verfügbare_Plätze %><br>
      <%= f.text_field :available_seats %>
    </p>

    <p>
      <%= f.submit 'Veranstaltungsort anlegen' %>
    </p>

  <% end %>
</div>