<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Veranstaltungsort ändern:</h1>
  </div>
  <div class="col-md-4"></div>
</div>
<div class="jumbotron">
  <div class="row">
    <!--%= render 'form' %-->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= simple_form_for @venue, html: { class: 'form-horizontal' } do |f| %>

          <% if @venue.errors.any? %>
              <div id="error_explanation" class="alert alert-danger" role="alert">
                <h4>
                  <%= pluralize(@venue.errors.count,  "") %> Fehler verhindern, dass der Veranstaltungsort angelegt werden kann.
                </h4>
              </div>
          <% end %>

          <p>
            <%= f.input :title,
                        label: 'Name des Veranstaltungsorts' %>
          </p>

          <p>
            <%= f.input :description,
                        as: :text,
                        label: 'Beschreibung',
                        hint: 'Hier kann eine detaillierte Beschreibung des Veranstaltungsortes gegeben werden. (max. 500 Zeichen)' %>
          </p>

          <p>
            <%= f.input :available_seats,
                        as: :integer,
                        label: 'Verfügbare Plätze' %>
          </p>

          <p>
            <%= f.submit 'Veranstaltungsort speichern', id: 'submit_venue', class: 'button', data: {disable_with: 'Bitte warten...'} %>
          </p>

      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>