<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>
      <%= @venue.title %>
    </h1>
  </div>
  <div class="col-md-4 text-right"><%= link_to 'edit', edit_venue_path(@venue.id), class: "btn btn-warning btn-xs" %></div>
</div>
<div class="jumbotron">
  <div class="row">
    <h3>Daten zum Veranstaltungsort: </h3>
    <p class="text-primary">Beschreibung: </p>
    <p><%= @venue.description %></p>
    <p>Verfügbare Plätze: <%= @venue.available_seats %></p>
    <p>Anzahl Veranstaltungen am Ort: <%= @venue.events.length%></p>
  </div>
  <% if @venue.events.length > 0 %>
    <% @venue.events.each do |event| %>
      <div class="row">
        <%= link_to "#{event.title}", event_path(event.id) %>
      </div>
    <% end %>
  <% end %>
  <div class="row">
    <%= link_to 'Ort löschen', venue_path(@venue.id), method: :delete, class: "btn btn-danger btn-xs pull-right" %>
  </div>
</div>
